<html>
    <head>
        <title>Node Express</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <h1> This is the home page! </h1>
        <img src="/images/node-express.png"/>
    </body>
</html>
